<footer class="footer bg-warning bg-gradient mt-5">
  <div class="container text-center">
    <div class="row align-items-center justify-content-center">
      <!-- <div class="col-6 col-lg-4">
        <img
          src="/assets/envelope.svg"
          class="card-img-top"
          alt="location"
          width="30"
          height="30"
        />
        <div class="card-body">
          <p class="h5">E-Mail</p>
          <p>
            <a href="#" class="link-secondary">perfeito.gessos@gmail.com</a>
          </p>
        </div>
      </div> -->

      <div class="col-6 col-lg-4 my-5">
        <img
          src="/assets/headset.svg"
          class="card-img-top"
          alt="location"
          width="30"
          height="30"
        />
        <div class="card-body">
          <p class="h5">Telefone</p>
          <p>
            Yago Barbosa :
            <a
              class="text-decoration-none text-secondary"
              href="tel:62993456485"
              >(62) 99345-6485</a
            >
          </p>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-4">
        <div class="d-flex align-items-center justify-content-around">
          <a
            class="mx-2"
            href="https://www.instagram.com/perfeito.gesso/"
            target="_blank"
            ><img src="/assets/instagram.svg" alt="logo" width="50" height="50"
          /></a>
          <div class="vr mx-2"></div>
          <a
            class="mx-2"
            href="https://www.facebook.com/yago.barbosa.549"
            target="_blank"
            ><img src="/assets/facebook.svg" alt="logo" width="50" height="50"
          /></a>
          <div class="vr mx-2"></div>
          <a
            class="mx-2"
            href="https://api.whatsapp.com/send?phone=5562993456485&text=Ol%C3%A1,%20tenho%20interesse%20em%20seus%20servi%C3%A7os."
            target="_blank"
            ><img src="/assets/whatsapp.svg" alt="logo" width="50" height="50"
          /></a>
        </div>
      </div> -->
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="text-center">
        <p>
          Todos os direitos reservados. Perfeito Gesso CNPJ: 48.678.339/0001-78
          ©2023
        </p>
      </div>
    </div>
  </div>
</footer>
