<div class="sobre">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 class="display-1 m-5">Sobre a empresa</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto lead">
        <P
          >Bem-vindo à nossa empresa! Temos o orgulho de ser uma empresa com
          mais de <strong>10 anos de experiência</strong> na área de gesso,
          oferecendo soluções personalizadas e inovadoras para atender às
          necessidades de nossos clientes.</P
        >

        <p>
          Durante esses 10 anos, acumulamos uma vasta experiência em projetos de
          gesso. Nossa equipe de profissionais altamente qualificados e
          dedicados trabalha com paixão e dedicação para entregar resultados
          excepcionais em cada projeto.
        </p>

        <p>
          Seja para construções
          <strong>residenciais, comerciais ou industriais</strong> , trabalhamos
          com todo tipo de gesso, desde sancas e forros até divisórias e
          decorações personalizadas. Nosso compromisso é oferecer acabamentos de
          alta qualidade, durabilidade e estética impressionante, garantindo que
          cada cliente tenha sua visão transformada em realidade.
        </p>

        <p>
          Além da excelência em nossos serviços, valorizamos o atendimento ao
          cliente, entendendo suas necessidades específicas e proporcionando uma
          <strong> experiência única e satisfatória</strong>
          em cada interação.
        </p>

        <p>
          Nosso portfólio de projetos abrange uma ampla variedade de setores e
          tamanhos, o que nos permite adaptar nossas habilidades e conhecimentos
          para qualquer desafio que enfrentemos.
        </p>

        <p>
          Ao escolher nossa empresa, você estará confiando em uma equipe
          <strong>experiente e confiável</strong>
          , pronta para criar soluções inovadoras e sob medida para o seu
          projeto de gesso. Sinta-se à vontade para explorar nosso site e
          conhecer melhor nosso trabalho, nossos projetos e nossa paixão pela
          excelência em gesso.
        </p>

        <p>
          <strong
            >Estamos ansiosos para fazer parte do seu próximo projeto e
            proporcionar-lhe um acabamento de gesso verdadeiramente excepcional
            que agregará beleza e valor ao seu espaço. Entre em contato conosco
            para mais informações e para começarmos a trabalhar juntos em sua
            próxima obra de gesso.</strong
          >
        </p>
      </div>
    </div>
  </div>
</div>
