<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1 m-5">Perfeito Gesso</h1>
      <hr />
      <P class="mb-5">Transformando Ambientes com Arte e Excelência!</P>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner rounded shadow-lg">
            <div class="carousel-item active">
              <img src="/assets/images/1.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/assets/images/2.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/assets/images/3.jpg" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-12 text-center my-5 lead bg-warning bg-gradient p-5 rounded shadow"
    >
      <h1>Gesso Goiânia e região</h1>
      <p>
        Promoção de Gesso em Drywall, forros, divisórias, sancas, tabicas e
        móveis. Ligue e peça seu orçamento.
      </p>
    </div>
    <div class="col-12">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img
              src="/assets/forrodegesso.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Forro de Gesso</h5>
              <hr />
              <p class="card-text lead">
                O forro de gesso é uma técnica que envolve a aplicação de placas
                de gesso no teto, criando um acabamento elegante. Além do
                aspecto visual, oferece vantagens como isolamento acústico,
                térmico e a capacidade de embutir sistemas diversos. Sua
                versatilidade permite a adaptação a diferentes estilos e
                necessidades de design.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/divisoriasdegesso.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Divisorias de Gesso</h5>
              <hr />
              <p class="card-text lead">
                Divisórias de gesso são estruturas flexíveis que dividem espaços
                internos de maneira ágil e personalizada. Feitas com perfis
                metálicos e placas de gesso, oferecem instalação rápida,
                isolamento acústico e integração de sistemas elétricos,
                combinando funcionalidade e estética.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/drywall.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Forros Drywall</h5>
              <hr />
              <p class="card-text lead">
                Forros drywall são sistemas construtivos que usam placas de
                gesso acartonado fixadas em estruturas metálicas para criar
                tetos nivelados e visualmente atraentes. Além da estética,
                oferecem isolamento e permitem a instalação de iluminação
                embutida, sendo populares em projetos residenciais e comerciais.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/paredesdedrywall.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Paredes de Dryawall</h5>
              <hr />
              <p class="card-text lead">
                Paredes de drywall são estruturas compostas por placas de gesso
                acartonado fixadas em perfis metálicos, permitindo a construção
                rápida de divisórias internas flexíveis. Além de serem leves e
                versáteis, essas paredes podem incorporar isolamento e
                instalações, sendo frequentemente usadas em projetos
                residenciais e comerciais.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
